USE [SystemProgramming_01]
GO
/****** Object:  Table [dbo].[DataScienceTable]    Script Date: 23.02.2018 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataScienceTable](
	[DataScienceId] [int] IDENTITY(1,1) NOT NULL,
	[MemorySize] [bigint] NOT NULL,
 CONSTRAINT [PK_DataScienceTable] PRIMARY KEY CLUSTERED 
(
	[DataScienceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Processes]    Script Date: 23.02.2018 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Processes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProcessId] [int] NOT NULL,
	[ProcessName] [varchar](64) NOT NULL,
	[ProcessMemorySize] [bigint] NOT NULL,
 CONSTRAINT [PK_Processes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[DataScienceTable] ON 

INSERT [dbo].[DataScienceTable] ([DataScienceId], [MemorySize]) VALUES (1, 115)
INSERT [dbo].[DataScienceTable] ([DataScienceId], [MemorySize]) VALUES (2, 108)
INSERT [dbo].[DataScienceTable] ([DataScienceId], [MemorySize]) VALUES (3, 87)
SET IDENTITY_INSERT [dbo].[DataScienceTable] OFF
SET IDENTITY_INSERT [dbo].[Processes] ON 

INSERT [dbo].[Processes] ([Id], [ProcessId], [ProcessName], [ProcessMemorySize]) VALUES (3, 6528, N'chrome', 78)
INSERT [dbo].[Processes] ([Id], [ProcessId], [ProcessName], [ProcessMemorySize]) VALUES (4, 848, N'chrome', 78)
INSERT [dbo].[Processes] ([Id], [ProcessId], [ProcessName], [ProcessMemorySize]) VALUES (5, 848, N'chrome', 78)
GO
SET IDENTITY_INSERT [dbo].[Processes] OFF
/****** Object:  Trigger [dbo].[GetTensRow]    Script Date: 23.02.2018 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   CREATE trigger [dbo].[GetTensRow]
   on [dbo].[Processes] after INSERT
   as
   DECLARE @AVERAGEmem int
   BEGIN
	if((select i.Id from inserted i)%10=0)
		BEGIN
		print 'Десятый элемент'
			Select @AVERAGEmem=AVG(p.ProcessMemorySize) from Processes p
			insert into DataScienceTable
			values(@AVERAGEmem)
		END
	else
		BEGIN	
			print 'Это не десятый элемент таблицы'
		END
	
   END
   
GO
ALTER TABLE [dbo].[Processes] ENABLE TRIGGER [GetTensRow]
GO
